# Module 1

   ### Welcome to the Answer notebook for Module 1 ! 
These notebooks have been provided to code and solve all the queries asked in the modules.

This environment has all the necessary libraries pre-installed, and all the Stock, Commodities and Index data files available at the following location -

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

# Query 1.1 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [2]:

import numpy as np 
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:

insys = pd.read_csv("INFY.csv")
insys

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48
5,INFY,EQ,22-May-2017,957.95,958.40,966.90,956.55,960.00,961.45,962.29,2751526,2.647755e+09,99616,2034031,73.92
6,INFY,EQ,23-May-2017,961.45,964.65,967.00,954.10,957.50,957.30,960.16,2019991,1.939515e+09,80122,1436389,71.11
7,INFY,EQ,24-May-2017,957.30,960.00,965.50,949.60,957.00,954.80,958.37,2818143,2.700827e+09,56898,1913750,67.91
8,INFY,EQ,25-May-2017,954.80,961.00,986.60,961.00,981.00,983.30,978.16,5219257,5.105250e+09,76160,4108984,78.73
9,INFY,EQ,26-May-2017,983.30,987.00,1000.00,980.60,996.05,995.70,994.06,2494002,2.479194e+09,63671,1477643,59.25
10,INFY,EQ,29-May-2017,995.70,990.90,996.70,975.70,986.00,985.15,983.11,3154217,3.100929e+09,83084,2272869,72.06
11,INFY,EQ,30-May-2017,985.15,982.00,1000.00,978.65,993.00,996.20,995.45,1858455,1.850004e+09,62012,1280033,68.88
12,INFY,EQ,31-May-2017,996.20,993.55,993.55,974.85,976.05,977.05,980.19,3881950,3.805051e+09,121323,3086038,79.50
13,INFY,EQ,01-Jun-2017,977.05,969.30,979.70,958.55,971.25,971.40,969.49,2754303,2.670263e+09,81421,1822506,66.17
14,INFY,EQ,02-Jun-2017,971.40,973.40,975.45,964.20,966.00,969.45,968.76,1958983,1.897793e+09,48927,1396644,71.29
15,INFY,EQ,05-Jun-2017,969.45,970.00,972.00,957.05,959.00,958.75,961.71,2731349,2.626761e+09,83794,1941199,71.07
16,INFY,EQ,06-Jun-2017,958.75,965.00,987.50,964.40,980.00,979.35,980.08,3504343,3.434526e+09,83178,2018029,57.59
17,INFY,EQ,07-Jun-2017,979.35,985.00,988.90,945.00,959.30,961.30,963.75,6227523,6.001805e+09,139990,2519343,40.45
18,INFY,EQ,08-Jun-2017,961.30,962.95,962.95,948.15,956.05,956.45,952.81,3097676,2.951502e+09,88147,1778850,57.43
19,INFY,EQ,09-Jun-2017,956.45,938.55,950.95,923.00,949.00,948.60,937.55,7378831,6.918028e+09,161124,3054942,41.40
20,INFY,EQ,12-Jun-2017,948.60,943.35,965.20,940.10,964.40,963.85,953.95,4295838,4.097997e+09,89686,2215716,51.58
21,INFY,EQ,13-Jun-2017,963.85,953.50,962.95,951.60,957.95,957.80,958.26,2468897,2.365834e+09,69355,1449584,58.71
22,INFY,EQ,14-Jun-2017,957.80,960.00,961.90,951.20,958.50,958.60,957.02,3719055,3.559195e+09,90312,2710765,72.89
23,INFY,EQ,15-Jun-2017,958.60,959.65,967.95,949.60,951.35,952.10,956.12,2764031,2.642753e+09,67490,1852460,67.02
24,INFY,EQ,16-Jun-2017,952.10,949.10,953.85,936.00,937.00,940.25,942.47,5474225,5.159269e+09,109487,4241070,77.47
25,INFY,EQ,19-Jun-2017,940.25,939.95,940.25,928.00,930.80,929.85,931.98,3427930,3.194760e+09,82075,2297829,67.03
26,INFY,EQ,20-Jun-2017,929.85,935.00,946.90,934.05,944.25,943.55,943.01,2592198,2.444472e+09,105790,1509148,58.22
27,INFY,EQ,21-Jun-2017,943.55,945.00,949.00,936.05,948.55,943.35,941.04,1867932,1.757792e+09,59945,1286468,68.87
28,INFY,EQ,22-Jun-2017,943.35,947.70,968.70,935.10,939.00,940.15,953.78,4732621,4.513896e+09,115123,2848768,60.19
29,INFY,EQ,23-Jun-2017,940.15,945.00,949.15,938.00,943.05,943.25,943.77,3201509,3.021489e+09,118944,2359021,73.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,INFY,EQ,27-Mar-2019,727.75,730.00,732.30,727.15,728.90,729.70,730.32,7387487,5.395200e+09,122789,5505910,74.53
467,INFY,EQ,28-Mar-2019,729.70,730.00,745.00,730.00,739.10,737.80,739.73,9277241,6.862617e+09,187881,5521081,59.51
468,INFY,EQ,29-Mar-2019,737.80,743.90,747.95,740.00,742.15,743.85,743.49,6924061,5.147991e+09,155083,4592403,66.33
469,INFY,EQ,01-Apr-2019,743.85,742.00,760.00,742.00,753.75,755.10,754.32,6584982,4.967200e+09,149150,3788889,57.54
470,INFY,EQ,02-Apr-2019,755.10,759.00,765.80,754.60,755.00,759.40,760.56,7283600,5.539625e+09,169885,4249666,58.35
471,INFY,EQ,03-Apr-2019,759.40,756.00,758.50,746.80,751.65,753.30,752.48,6897127,5.189956e+09,200625,4213270,61.09
472,INFY,EQ,04-Apr-2019,753.30,751.40,753.80,745.10,748.95,747.90,748.43,7688525,5.754346e+09,178872,5138276,66.83
473,INFY,EQ,05-Apr-2019,747.90,750.90,760.95,748.00,759.55,759.30,758.69,6276040,4.761576e+09,148065,3851738,61.37
474,INFY,EQ,08-Apr-2019,759.30,763.05,770.00,755.40,769.15,767.25,762.80,4919911,3.752910e+09,143815,2380635,48.39
475,INFY,EQ,09-Apr-2019,767.25,770.00,773.00,758.20,760.80,760.60,765.16,6730692,5.150088e+09,146107,3353329,49.82
476,INFY,EQ,10-Apr-2019,760.60,764.00,766.70,751.30,752.85,752.70,759.53,7031088,5.340337e+09,134089,4201714,59.76
477,INFY,EQ,11-Apr-2019,752.70,751.75,751.75,740.05,743.40,742.70,744.27,8200995,6.103734e+09,158348,5047043,61.54
478,INFY,EQ,12-Apr-2019,742.70,743.10,751.55,740.60,748.00,747.75,746.82,7043212,5.260021e+09,165165,2587611,36.74
479,INFY,EQ,15-Apr-2019,747.75,724.70,731.35,712.60,728.20,727.50,724.58,31574803,2.287863e+10,566543,16753549,53.06
480,INFY,EQ,16-Apr-2019,727.50,727.90,727.90,714.10,724.00,724.10,722.40,12524411,9.047647e+09,343101,7260034,57.97
481,INFY,EQ,18-Apr-2019,724.10,722.50,722.50,712.75,715.70,717.05,716.80,13801105,9.892654e+09,302789,8498108,61.58
482,INFY,EQ,22-Apr-2019,717.05,717.05,725.75,715.00,721.30,721.05,721.04,6455426,4.654647e+09,115955,3535056,54.76
483,INFY,EQ,23-Apr-2019,721.05,723.90,730.00,718.40,725.80,728.20,726.32,5516668,4.006855e+09,130836,2893716,52.45
484,INFY,EQ,24-Apr-2019,728.20,728.20,737.90,724.00,735.00,736.45,733.43,8285120,6.076540e+09,174385,4993503,60.27
485,INFY,EQ,25-Apr-2019,736.45,736.45,737.65,727.05,730.05,728.55,730.72,8005235,5.849612e+09,174336,5361863,66.98
486,INFY,EQ,26-Apr-2019,728.55,731.00,739.80,729.00,738.60,738.00,736.11,6895168,5.075637e+09,151426,4168443,60.45
487,INFY,EQ,30-Apr-2019,738.00,738.00,753.80,738.00,748.85,751.35,748.61,9920046,7.426242e+09,165676,6888736,69.44
488,INFY,EQ,02-May-2019,751.35,747.00,748.40,729.50,730.80,730.80,738.19,6351352,4.688477e+09,115522,4071262,64.10
489,INFY,EQ,03-May-2019,730.80,722.90,731.00,718.20,723.65,723.60,725.26,6348116,4.604058e+09,133663,3735602,58.85
490,INFY,EQ,06-May-2019,723.60,715.00,721.80,710.65,717.15,718.40,718.07,8858265,6.360864e+09,148896,6519864,73.60
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [4]:
insys.loc[insys['Series'] == 'BL']

df1 = insys[insys.Series != 'BL']

df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [5]:
df1.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.7,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.5,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.8,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.0,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.1,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [6]:
df1.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 495
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null object
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

### Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [31]:
df2=df1.iloc[ : ,[2,8]]
last_90_days=df2.tail(90)
last_90_days.head(10)

          Date  Close Price
404 2018-12-31       658.95
405 2019-01-01       665.05
406 2019-01-02       669.05
407 2019-01-03       669.15
408 2019-01-04       661.05
409 2019-01-07       671.70
410 2019-01-08       670.05
411 2019-01-09       676.10
412 2019-01-10       679.70
413 2019-01-11       683.50

In [33]:
print(last_90_days.min())

Date           2018-12-31 00:00:00
Close Price                 658.95
dtype: object

In [10]:
print(last_90_days.max())

Date           31-Jan-2019
Close Price         767.25
dtype: object

In [11]:
print(last_90_days.mean())

Close Price    728.602778
dtype: float64

In [12]:
print(last_90_days.describe())

       Close Price
count    90.000000
mean    728.602778
std      25.490794
min     658.950000
25%     720.037500
50%     732.250000
75%     744.712500
max     767.250000

### Query 1.3

Analyse the data type for each column od the dataframe.Pandas Knows how to deal with dates in an intelligent manner. But to make use of pandas functionality for dates, you need to ensure that the column is of type 'datetimes64(ns)'. Changes the date column from object type to datetime64(ns) for future convenience. see what happens if you subtract the minimum value of the date column from the maximum value.

In [13]:
df1.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [14]:
df1['Date']= pd.to_datetime(df1['Date'])

In [15]:
df1.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [16]:
max_date = df1['Date'].max()
print(max_date)

min_date = df1['Date'].min()
print(min_date)

sub = max_date - min_date
print(sub)

2019-05-13 00:00:00
2017-05-15 00:00:00
728 days 00:00:00

### Query 1.4

In a separate array, calulate the monthwise VWAP( Volume Weighted Average Price) of stock. (VWAP = sum(price*volume)/sum(volume)). 
{Hint: Create a new dataframe column 'Month'. The value for this column can be derived from the 'date' column by using appropriate pandas function.
Similarly, create a column 'year' and initialize it. then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month.(i.e. for each group created).

In [17]:
df1['month'] = pd.DatetimeIndex(df1['Date']).month
df1['year'] = pd.DatetimeIndex(df1['Date']).year

group = df1.groupby(['month','year'])
y=group.sum()
y['vwap'] = (np.cumsum(y['Total Traded Quantity'] * y['Average Price']) / np.cumsum(y['Total Traded Quantity']))
y

            Prev Close  Open Price  High Price  Low Price  Last Price  \
month year
1     2018    24132.00    24117.15    24472.40   23919.25    24224.25
      2019    16200.00    16256.85    16420.90   16081.50    16298.95
2     2018    21500.85    21455.25    21770.35   21268.65    21508.85
      2019    14962.80    14951.40    15088.70   14803.65    14942.70
3     2018    22126.45    22129.20    22304.05   21914.20    22082.45
      2019    13775.05    13815.50    13911.90   13680.05    13788.65
4     2018    24050.95    24016.25    24374.05   23780.60    24111.00
      2019    14110.75    14100.90    14218.70   13972.95    14110.60
5     2017    12577.20    12570.20    12694.95   12461.65    12586.40
      2018    26210.45    26246.20    26484.95   26001.95    26241.30
      2019     5805.95     5782.80     5837.85    5736.45     5771.45
6     2017    19977.05    19981.25    20150.25   19760.40    19928.85
      2018    26335.90    26361.70    26650.70   26152.65    26409.15
7     2017    20382.65    20426.40    20745.20   20237.10    20460.15
      2018    29304.20    29411.20    29761.85   28992.75    29377.20
8     2017    20097.85    20215.05    20359.25   19801.30    19996.40
      2018    29180.90    29249.90    29489.40   29006.25    29260.25
9     2017    18898.75    18929.55    19029.60   18753.65    18883.40
      2018    14501.30    13844.60    13991.90   13660.95    13799.55
10    2017    18533.60    18578.60    18687.45   18441.10    18558.90
      2018    14478.80    14496.50    14700.35   14225.85    14444.90
11    2017    21123.75    21120.45    21343.95   20968.30    21162.95
      2018    13093.90    13140.55    13274.75   12917.95    13081.30
12    2017    20153.00    20129.20    20378.70   19998.90    20204.55
      2018    13437.65    13441.95    13577.65   13282.00    13423.60

            Close Price  Average Price  Total Traded Quantity      Turnover  \
month year
1     2018     24240.20       24209.64              132341747  1.473070e+11
      2019     16290.60       16254.12              212509846  1.501115e+11
2     2018     21523.20       21555.50               90708757  1.032957e+11
      2019     14947.55       14941.28              119007692  8.876140e+10
3     2018     22085.65       22119.12               75342629  8.769052e+10
      2019     13784.60       13788.46              162357177  1.176233e+11
4     2018     24118.65       24104.82              119445089  1.375824e+11
      2019     14118.25       14113.07              171634154  1.267283e+11
5     2017     12590.00       12582.47               38526583  3.731443e+10
      2018     26242.75       26263.68               76329633  9.152690e+10
      2019      5774.30        5790.13               56110764  4.058380e+10
6     2017     19935.55       19939.89               78667556  7.460979e+10
      2018     26411.30       26418.23               74446403  9.396535e+10
7     2017     20458.30       20474.82               84483188  8.290336e+10
      2018     29362.10       29359.12              111375283  1.482582e+11
8     2017     20001.60       20042.24              291186932  2.691429e+11
      2018     29256.90       29244.42               76610324  1.069396e+11
9     2017     18883.70       18881.36              106212215  9.530306e+10
      2018     13790.25       13837.84              146032553  1.102357e+11
10    2017     18555.55       18566.74               91849551  8.563859e+10
      2018     14435.15       14437.61              186538368  1.286031e+11
11    2017     21178.00       21172.74               85049444  8.240701e+10
      2018     13074.95       13078.93              169740064  1.103429e+11
12    2017     20218.95       20213.37               80623477  8.152578e+10
      2018     13429.15       13426.65              154714992  1.037006e+11

            No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
month year
1     2018        3147150         83129117                 1403.85
      2019        3761752        111082436                 1241.55
2     2018        2335346         59753814                 1230.10
      2019        2544444         61544272                 1034.27
3     2018        1934060         52557364                 1278.32
      2019        3405891         97098832                 1127.85
4     2018        3012666         72371221                 1337.97
      2019        3719168         99165179                 1098.39
5     2017        1075345         27080067                  895.80
      2018        2360625         50561085                 1422.54
      2019        1289148         37068128                  525.10
6     2017        1974632         48976703                 1344.86
      2018        2449259         47287281                 1324.11
7     2017        2021514         52263624                 1302.64
      2018        3330174         57358021                 1230.64
8     2017        5167985        156235750                 1293.29
      2018        2420087         46737785                 1315.17
9     2017        2006002         74860356                 1447.59
      2018        2960682         83435180                 1020.31
10    2017        1844258         67773527                 1449.41
      2018        3912509        105844814                 1217.87
11    2017        2097037         56165258                 1472.57
      2018        3329022        100764751                 1176.95
12    2017        2073328         50063451                 1251.76
      2018        3085148         82125636                 1066.04

                    vwap
month year
1     2018  24209.640000
      2019  19307.164952
2     2018  19775.397833
      2019  18738.018895
3     2018  19142.427104
      2019  18045.253986
4     2018  18839.128212
      2019  18090.381103
5     2017  17901.232360
      2018  18433.948766
      2019  17868.337372
6     2017  17990.592607
      2018  18436.375465
7     2017  18551.807463
      2018  19302.557558
8     2017  19416.249234
      2018  19798.241803
9     2017  19751.361604
      2018  19362.949974
10    2017  19331.362111
      2018  18966.463629
11    2017  19039.003081
      2018  18671.993829
12    2017  18715.795534
      2018  18442.281944

In [18]:
y.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,vwap
count,25.000000,25.00000,25.00000,25.00000,25.000000,25.000000,25.000000,2.500000e+01,2.500000e+01,2.500000e+01,2.500000e+01,25.000000,25.000000
mean,18998.070000,18990.74400,19188.79200,18792.80200,18986.310000,18988.288000,18992.650000,1.196738e+08,1.080840e+11,2.690289e+06,7.125215e+07,1220.358000,19045.118657
std,5740.322459,5775.90909,5845.52692,5726.90826,5790.414778,5791.065193,5789.261713,5.682362e+07,4.437312e+10,9.155329e+05,2.871050e+07,206.249934,1228.052989
min,5805.950000,5782.80000,5837.85000,5736.45000,5771.450000,5774.300000,5790.130000,3.852658e+07,3.731443e+10,1.075345e+06,2.708007e+07,525.100000,17868.337372
25%,14478.800000,14100.90000,14218.70000,13972.95000,14110.600000,14118.250000,14113.070000,7.866756e+07,8.563859e+10,2.021514e+06,5.056108e+07,1127.850000,18436.375465
50%,19977.050000,19981.25000,20150.25000,19760.40000,19928.850000,19935.550000,19939.890000,1.062122e+08,1.032957e+11,2.449259e+06,6.154427e+07,1251.760000,18839.128212
75%,22126.450000,22129.20000,22304.05000,21914.20000,22082.450000,22085.650000,22119.120000,1.547150e+08,1.267283e+11,3.329022e+06,8.343518e+07,1337.970000,19331.362111
max,29304.200000,29411.20000,29761.85000,29006.25000,29377.200000,29362.100000,29359.120000,2.911869e+08,2.691429e+11,5.167985e+06,1.562358e+08,1472.570000,24209.640000

# Query 1.5

Write a function to calculate the average price over the last N days of the stock price data where price data where N is a user defined parameter.
Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average prince AND the profit/loss percentage over the coure of last-
1 Week , 2 Weeks , 1 Month , 3 Month , 6 Month and 1 Year.
{Note: Profit/loss percentage between N days is the percentage change between the closing prices of the 2 days}.

In [19]:
#x=int(input("Enter number of days : "))
def average_price(x):
    list1=list(df1['Average Price'].tail(x))
    result=0
    for i in range(x):
        result=result+list1[i]
    return result/x

def Profit_loss_percentage (x):
    list1=list(df1['Close Price'].tail(x))
    result=0
    for i in range(x-1):
        result=result+(list1[i+1]-list1[i])/list1[i]
    return result*100

In [21]:
#for last 1 week average price
print('\n'"last 1 week average price:","% 0.2f"%average_price(7))
#last 1 week profit/loss percentage
print("last 1 week profit/loss percentage","% 0.2f"%Profit_loss_percentage(7))

#for last 2 week average price
print('\n'"last 2 week average price:","% 0.2f"%average_price(14))
#last 2 week profit/loss percentage
print("last 2 week profit/loss percentage","% 0.2f"%Profit_loss_percentage(14))

#for last 1 month average price
print('\n'"last 1 month average price:","% 0.2f"%average_price(30))
#last 1 month profit/loss percentage
print("last 1 month profit/loss percentage","% 0.2f"%Profit_loss_percentage(30))

#for last 6 month average price
print('\n'"last 6 month average price:","% 0.2f"%average_price(180))
#last 6 month profit/loss percentage
print("last 6 month profit/loss percentage","% 0.2f"%Profit_loss_percentage(180))

#for last 1 year average price
print('\n'"last 1 year average price:","% 0.2f"%average_price(365))
#last 1 year profit/loss percentage
print("last 1 year profit/loss percentage","% 0.2f"%Profit_loss_percentage(365))

last 1 week average price:  721.71
last 1 week profit/loss percentage -0.53

last 2 week average price:  727.60
last 2 week profit/loss percentage -0.09

last 1 month average price:  737.22
last 1 month profit/loss percentage -1.17

last 6 month average price:  758.82
last 6 month profit/loss percentage -47.08

last 1 year average price:  967.04
last 1 year profit/loss percentage -8.25

### Query 1.6 

Add a column'Day_perc_change' Where the values are the daily change in percentages i.e. the percentage change between 2 consecutive days closing prices. Instead of using the basic mathematical formula for computing the same , use'pct_change()'function provied by pandas for dataframes. you will note that the first entey of the column will have a 'nan' value. why does this happen? either romove the first row or set the entry to 0 before proceeding.

In [24]:
df1['Day_Pct_Change'] = df1['Close Price'].pct_change()*100
df1['Day_Pct_Change']=round(df1['Day_Pct_Change'],1)
df1=df1.fillna(0)
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Day_Pct_Change
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017,0.0
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017,0.4
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017,-0.2
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017,0.9
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017,-0.4

### Query 1.7 Add another column'Trend' whose values are:

 (1)'Slight or No change' for 'Day_Perc_Change'in between -0.5 and 0.5.
 
 (2)'Slight positive' for 'Day_Perc_Change'in between 0.5 and 1.
 
 (3)'Slight negative' for 'Day_Perc_Change'in between -0.5 and -1.
 
 (4)'Positive' for 'Day_Perc_Change'in between 1 and 3.
 
 (5)'Negative' for 'Day_Perc_Change'in between -1 and -3.
 
 (6)'Among top gainer' for 'Day_Perc_Change'in between 3 and 7.
 
 (7)'Among top loser' for 'Day_Perc_Change'in between -3 and -7.
 
 (8)'Bull run' for 'Day_Perc_Change'>7.
 
 (9)'Bear drop' for 'Day_Perc_Change'<-7.

In [25]:
def trend(x):
  if x > -0.5 and x <= 0.5:
    return 'Slight or No change'
  elif x > 0.5 and x <= 1:
    return 'Slight Positive'
  elif x > -1 and x <= -0.5:
    return 'Slight Negative'
  elif x > 1 and x <= 3:
    return 'Positive'
  elif x > -3 and x <= -1:
    return 'Negative'
  elif x > 3 and x <= 7:
    return 'Among top gainers'
  elif x > -7 and x <= -3:
    return 'Among top losers'
  elif x > 7:
    return 'Bull run'
  elif x <= -7:
    return 'Bear drop'
df1['Trend']= np.zeros(df1['Day_Pct_Change'].count())
df1['Trend']= df1['Day_Pct_Change'].apply(lambda x:trend(x))
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Day_Pct_Change,Trend
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017,0.0,Slight or No change
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017,0.4,Slight or No change
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017,-0.2,Slight or No change
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017,0.9,Slight Positive
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017,-0.4,Slight or No change

## Query 1.8
Find the average and median values of the column 'Total Traded Quantity' for each of the types of Trend.
{Hint:Use The 'groupy()' on the 'Trend' column and then calculate the average and median values of the column.

In [28]:
df_trend_average = df1.groupby(df1.Trend).mean()['Total Traded Quantity']
print("The average of Total traded quantity is:",df_trend_average)
df_trend_median=df1.groupby(df1.Trend).median()['Total Traded Quantity']
print('\n'"The median of Total traded quantity is:",df_trend_median)

The average of Total traded quantity is: Trend
Among top gainers      1.329248e+07
Among top losers       1.463854e+07
Bear drop              4.878630e+07
Negative               5.783897e+06
Positive               6.763830e+06
Slight Negative        5.305388e+06
Slight Positive        5.756073e+06
Slight or No change    4.620330e+06
Name: Total Traded Quantity, dtype: float64

The median of Total traded quantity is: Trend
Among top gainers      12136346.0
Among top losers       10985897.0
Bear drop              48786302.0
Negative                5330434.5
Positive                5553948.0
Slight Negative         4172856.0
Slight Positive         5050182.0
Slight or No change     4050728.0
Name: Total Traded Quantity, dtype: float64

## Query 1.9
Save the dataframe with additional columns computed as a csv file week2.csv. In Module 2 you are going to get familiar with matplotlib, the pyhton module which is used to visualize data.

In [29]:
df1["new_column"] = ""
df1.to_csv("week2.csv",index=False)